.login-container {
    display: flex;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .login-form {
    flex: 1;
    padding: 3rem;
    background-color: white;
    position: relative;
  }
  
  .login-logo {
    height: 70px;
    margin-bottom: 1rem;
  }

  .close-btn {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2rem;
    color: #0b4c5f;
    text-decoration: none;
    font-weight: bold;
    z-index: 10;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: goldenrod;
  }
  
  
  .login-form h1 {
    font-size: 2rem;
    color: #0b4c5f;
    margin-bottom: 1.5rem;
  }
  
  .login-form label {
    display: block;
    margin: 1rem 0 0.3rem;
    font-weight: bold;
  }
  
  .login-form input {
    width: 100%;
    padding: 0.7rem;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .forgot-password {
    margin-top: 0.5rem;
    text-align: right;
    color: goldenrod;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-main {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.8rem;
    background-color: #0b4c5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-google {
    margin-top: 1rem;
    width: 100%;
    padding: 0.8rem;
    background-color: #247995;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .switch-form {
    margin-top: 1.5rem;
    text-align: center;
  }
  
  .switch-form a {
    color: goldenrod;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-illustration {
    flex: 1;
    background-color: #b1dfe6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-illustration img {
    width: 575px;
    height:auto;
  }